.App {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  height: 100vh;
}

/* App-header */
.App-header {
  flex: 0 1 auto;
}

.App-header h1 {
  color: #ff3333;
  font-family: Roboto, sans-serif;
  font-weight: 900;
}

/* App-content */
.App-content {
  flex: 1 1 auto;
  background-color: white;
}

/* App-content */
.App-footer {
  flex: 0 1 auto;
  text-align: right;
  color: #01d277;
  padding: 10px;
  font-size: 0.8em;
}

.App-footer a,
.App-footer a:link,
.App-footer a:visited,
.App-footer a:hover,
.App-footer a:active {
  text-decoration: underline;
  color: #01d277;
}

/* Container */
.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

/* Breakpoints */

/* 1 col */
@media (min-width: 350) {
  .container {
    width: 320px;
  }

  .App-header h1 {
    font-size: 2em;
  }
}

/* 2 cols */
@media (min-width: 670px) {
  .container {
    width: 640px;
  }

  .App-header h1 {
    font-size: 4em;
  }
}

/* 3 cols */
@media (min-width: 990px) {
  .container {
    width: 960px;
  }

  .App-header h1 {
    font-size: 6em;
  }
}

/* 4 cols */
@media (min-width: 1310px) {
  .container {
    width: 1280px;
  }

  .App-header h1 {
    font-size: 7em;
  }
}

/* 5 cols */
@media (min-width: 1630px) {
  .container {
    width: 1600px;
  }

  .App-header h1 {
    font-size: 8em;
  }
}


/* .App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
} */

/* @keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
} */
