.Card {
  width: 320px;
  height: 180px;
  display: inline-block;
}

.Card-inner {
  position: relative;
}

.Card-inner-over {
  transition: all 200ms ease-out;
  transform: scale(1.1);
  z-index: 10;
}

.Card-inner-out {
  transition: all 200ms ease-out;
  transform: scale(1);
  z-index: 0;
}

.Card-inner-image {
  width: 320px;
  height: 180px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.Card-title {
  position: absolute;
  color: white;
  max-width: 300px;
  top: 10px;
  left: 10px;
  size: 1.2em;
}

.Card-title-loading {
  display: none
}

.Card-title-loaded {
  display: default;
  z-index: 1;
}

.Card-img {
  display: block;
}

.Card-image-loading {
  transform: scale(0.1, 0.1);
}

.Card-image-loaded {
  transition: all 500ms ease-out;
  transform: scale(1);
}

.Card-image-mouseout {
  transition: all 200ms ease-out;
  transform: scale(1);
}
